[Unit]
Description=Gunicorn uwsgi implementation
After=syslog.target network.target

[Service]
# ExecStart=/home/uweb/.pyenv/uweb /home/uweb/website/manage.py runserver 0.0.0.0:8000
ExecStart=gunicorn --access-logfile - --workers 3 --bind unix:/home/uweb/website/myproject.sock docroot.wsgi
WorkingDirectory=/home/uweb/website
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=uweb
User=uweb
Group=www-data
Environment=NODE_ENV=dev

[Install]
WantedBy=default.target
